@page
@model RazorLogin.Pages.Admin.Anim.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Animals</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].AnimalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Enclosure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Zookeeper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Animal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enclosure.EnclosureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zookeeper.ZookeeperId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AnimalId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.AnimalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
