@page
@model RazorLogin.Pages.TicketsPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Tickets</h1>

<p>
    <a asp-page="Create">Purchase Tickets</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].TicketPrice)
            </th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        @if (Model.Tickets != null && Model.Tickets.Any())
        {
            foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPrice)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.TicketId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.TicketId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.TicketId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No tickets found.</td>
            </tr>
        }
    </tbody>
</table>
