@page
@model RazorLogin.Pages.Admin.Zook.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zookeepers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zookeeper[0].ZookeeperId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zookeeper[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zookeeper[0].TrainingRenewalDate)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.Zookeeper[0].AssignedDepartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zookeeper) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.ZookeeperId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingRenewalDate)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDepartment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZookeeperId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZookeeperId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
