@page
@model RazorLogin.Pages.Admin.Tick.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ticket Type</th>  <!-- Manually setting the display name -->
            <th>Ticket Price</th> <!-- Manually setting the display name -->
            <th>Ticket Purchase Date</th> <!-- Manually setting the display name -->
            <th>Purchase ID</th> <!-- Manually setting the display name -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase.PurchaseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
