@page
@model RazorLogin.Pages.Admin.Mana.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager[0].ManagerEmploymentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manager) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerEmploymentDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ManagerId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ManagerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
