@page
@model RazorLogin.Pages.Admin.Mana.IndexModel

@{
    ViewData["Title"] = "Managers List";
}

<h1>Managers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Managers[0].ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Managers[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Managers[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Managers[0].ManagerEmploymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Managers[0].AssignedStore) <!-- Added AssignedStore column -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Managers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerEmploymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedStore) <!-- Display AssignedStore here -->
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ManagerId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ManagerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
