@page
@model RazorLogin.Pages.Admin.Encl.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enclosure</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.EnclosureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.EnclosureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.EnclosureDepartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.EnclosureDepartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.EnclosureOpenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.EnclosureOpenTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.EnclosureCloseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.EnclosureCloseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.EnclosureCleaningTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.EnclosureCleaningTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.EnclosureFeedingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.EnclosureFeedingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.OccupancyStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.OccupancyStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure.Zookeeper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.Zookeeper.ZookeeperId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Enclosure.EnclosureId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
