@page
@model RazorLogin.Pages.Admin.Encl.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Enclosures</h1>


<table class="table">
    <thead>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.Enclosure[0].EnclosureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enclosure[0].EnclosureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enclosure[0].EnclosureDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enclosure[0].Zookeeper)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enclosure) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnclosureId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnclosureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnclosureDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zookeeper.ZookeeperId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EnclosureId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.EnclosureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
