@page
@model RazorLogin.Pages.Admin.Ite.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.RestockDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.RestockDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.FoodStore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.FoodStore.FoodStoreId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Shop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Shop.ShopId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.ItemId">Edit</a> |
    <a asp-page="/Admin.GShps/Index">Back to List</a>
</div>
