@page
@model RazorLogin.Pages.Zoo.Myinfo.IndexModel
@{
    var employee = Model.Employee;
    var zookeeper = Model.Zookeeper;
}

<h2 class="text-center mb-4">Your Information</h2>

<div class="card">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Employee Details</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Employee ID</th>
                    <td>@employee.EmployeeId</td>
                </tr>
                <tr>
                    <th scope="row">First Name</th>
                    <td>@employee.EmployeeFirstName</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>@employee.EmployeeLastName</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>@employee.EmployeeEmail</td>
                </tr>
                <tr>
                    <th scope="row">Date of Birth</th>
                    <td>@employee.EmployeeDob?.ToString("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>@employee.EmployeeAddress</td>
                </tr>
            </tbody>
        </table>
    </div>

    @* Zookeeper-specific information *@
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Zookeeper Details</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Zookeeper ID</th>
                    <td>@zookeeper?.ZookeeperId</td>
                </tr>
                <tr>
                    <th scope="row">Assigned Department</th>
                    <td>@zookeeper?.AssignedDepartment</td>
                </tr>
                <tr>
                    <th scope="row">Number of Assigned Cages</th>
                    <td>@(zookeeper?.NumAssignedCages)</td>
                </tr>
                <tr>
                    <th scope="row">Last Training Date</th>
                    <td>@(zookeeper?.LastTrainingDate?.ToString("MM/dd/yyyy") ?? "N/A")</td>
                </tr>
                <tr>
                    <th scope="row">Training Renewal Date</th>
                    <td>@(zookeeper?.TrainingRenewalDate?.ToString("MM/dd/yyyy") ?? "N/A")</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer text-center">
        <a asp-page="./viewPersonal" asp-route-id="@employee.EmployeeId" class="btn btn-primary">Edit Information</a>
    </div>
</div>
