@page
@model RazorLogin.Pages.CustomerPage.IndexModel

@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Customer[0].CustomerFirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].CustomerLastName)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].CustomerDob)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].CustomerAddress)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].CustomerEmail)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].MembershipStartDate)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].MembershipEndDate)</th>
            <th>@Html.DisplayNameFor(model => model.Customer[0].MembershipType)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CustomerFirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerLastName)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerDob)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerEmail)</td>
                <td>@Html.DisplayFor(modelItem => item.MembershipStartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.MembershipEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.MembershipType)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
